<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Story App | Noprizal</title>
  </head>
  <body>
    <!-- navbar -->
    <section>
      <div class="container nav-wrapper">
        <nav-bar></nav-bar>
      </div>
    </section>

    <!-- main -->
    <section>
      <div class="container">
        <main>
          <div class="wrapper p-4">
            <header class="d-flex justify-content-between align-items-center">
              <header-title content="Add Story"></header-title>
              <div class="button wrapper d-flex align-items-center">
                <button-link to="/" content="Dashboard"></button-link>
              </div>
            </header>
            <div class="content my-5">
              <form class="row g-3 needs-validation" id="addRecordForm" novalidate>
                <!-- name -->
                <div class="col-12">
                  <label for="validationName" class="form-label fw-bold">Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="validationName"
                    placeholder="Mark Zuck"
                    required
                  />
                  <div class="invalid-feedback">Name is required!</div>
                  <!-- <div class="valid-feedback">Valid!</div> -->
                </div>
                <!-- story -->
                <div class="col-12">
                  <label for="validationStory" class="form-label fw-bold">Story</label>
                  <textarea
                    id="validationStory"
                    class="form-control"
                    rows="6"
                    placeholder="Once upon a time ...."
                    required
                    style="resize: none"
                  ></textarea>
                  <div class="invalid-feedback">Story is required!</div>
                  <!-- <div class="invalid-feedback">Valid</div> -->
                </div>
                <!-- upload photo -->
                <div class="col-12">
                  <label for="validationImage" class="form-label fw-bold">Photo</label>
                  <div style="width: 100%; height: 15rem" class="mb-5">
                    <img class="img-fluid h-100" src="" alt="Photo Preview" id="templatePreview" />
                    <div
                      class="w-100 h-100 d-none"
                      style="
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                      "
                      id="validationImageChange"
                    ></div>
                  </div>
                  <input
                    type="file"
                    class="form-control"
                    id="validationImage"
                    accept="image/*"
                    required
                  />
                  <div class="invalid-feedback">Image is required!</div>
                </div>
                <!-- button submit -->
                <div class="col-12">
                  <button class="btn btn-primary" type="submit">Submit form</button>
                </div>
              </form>
            </div>
          </div>
        </main>
      </div>
    </section>

    <!-- footer -->
    <section>
      <div class="container footer-wrapper p-3 mb-5">
        <footer class="footer d-flex justify-content-center align-items-center">
          <span>Noprizal - 2023</span>
        </footer>
      </div>
    </section>

    <script>
      (() => {
        'use strict';

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation');

        // Loop over them and prevent submission
        Array.from(forms).forEach((form) => {
          form.addEventListener(
            'submit',
            (event) => {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }

              form.classList.add('was-validated');
            },
            false,
          );
        });
      })();
    </script>
  </body>
</html>
