<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- navbar -->
    <section>
      <div class="container nav-wrapper">
        <nav class="navbar navbar-expand-lg px-4 mt-5">
          <a class="navbar-brand fw-bold fs-4" href="#">StoryApp</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav fw-bold">
              <li class="nav-item active">
                <a class="nav-link" href="#">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./add.html">Add Story</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </section>

    <!-- main -->
    <section>
      <div class="container">
        <main>
          <div class="wrapper p-4">
            <header class="d-flex justify-content-between align-items-center">
              <div class="title">
                <h3 class="fw-bold fs-4">Your Story</h3>
                <p class="fs-6">Create your sweet memory</p>
              </div>
              <div class="button wrapper d-flex align-items-center">
                <button type="button" class="btn btn-primary fs-6">+ Story</button>
              </div>
            </header>
            <div class="content my-5">
              <div class="card-wrapper grid-container">
                <div class="grid-item">
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://source.unsplash.com/1200x700/?nature"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of
                        the card's content.
                      </p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
                <div class="grid-item">
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://source.unsplash.com/1200x700/?nature"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of
                        the card's content.
                      </p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
                <div class="grid-item">
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://source.unsplash.com/1200x700/?nature"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of
                        the card's content.
                      </p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
                <div class="grid-item">
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://source.unsplash.com/1200x700/?nature"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of
                        the card's content.
                      </p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </section>

    <!-- footer -->
    <section>
      <div class="container footer-wrapper p-3 mb-5">
        <footer class="footer d-flex justify-content-center align-items-center">
          <span>Noprizal - 2023</span>
        </footer>
      </div>
    </section>
  </body>
</html>
